while (True):
    texto = input(">")
    if texto == "Salir":
        break

    texto = texto.replace(":)", "😊")
    texto = texto.replace(":(", "☹️​")
    texto = texto.replace(":p", "😊")
    texto = texto.replace(":P", "😋​")
    texto = texto.replace(":*", "😚")
    texto = texto.replace(":o", "😮​​")
    print(texto)